<%- include('partials/header'); -%>

<form action="" method="post">
    <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" id="exampleInputEmail1" name ="Title">
        <label>Post</label>
        <textarea name="content" id="" cols="30" rows="10" class="form-control"></textarea>
      </div>
      
      <button type="submit" class="btn btn-primary">Compose</button>
</form>
    
<%- include('partials/footer'); -%>