<%- include('partials/header'); -%>

<div class="yesornoform">
    <h1>Do you want to delete ?</h1>
    <form action="" method="post" class="yesorno">
        <a class="btn btn-primary" href="/post/<%=postname  %> " role="button">No</a>
    
        <input class="btn btn-primary yes" type="submit" value="Yes" name="button" >
    </form> 
</div>



<%- include('partials/footer'); -%>